<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista de Agricultores</title>
</head>
<body>
            <h3>Lista de agriculotres</h3>
    <ul>
        {% for Agricultor in agricultor %}
            <a href="{% url 'update_Agricultor' Agricultor.id %}" style="text-decoration: none">
                <li style="color:black; list-style-type: decimal;"> {{ Agricultor.Nome}}</li>
            </a>
        {% endfor %}
    </ul>

    <a href="{% url 'create_Agricultor' %}" style="text-decoration: none; ">Novo Agricultor</a>
</body>
</html>